*/History/*
*/Project Logs*
*/Project Outputs*
*/__Previews/*
*/build/*
build/*
*/build-*
*/Debug/
*.Debug
*.Release
ui_*
ui/Makefile
*.user
.qmake*
.dep/
.idea
.settings/
.vscode/
.project
.cproject
*.map
*.bin
*.elf
*.swp
*.o
*.lst
*.d
*.log
logs
*.ini
ctrl_sw/bootloader/build/*
ui/asuit_ui.pro.user.ffec760
