*/History/*
*/Project Logs*
*/Project Outputs*
*/__Previews/*
*/build/*
build/*
*/Debug/
.dep/
.idea
.settings/
.vscode/
.project
.cproject
*.map
*.bin
*.elf
*.swp
*.o
*.lst
*.d
*.log
logs